.vscode
space_invader/.vscode
space_invader/src/*.o
space_invader/*.h
space_invader/*.a
space_invader_ncurses/.vscode
space_invader_ncurses/src/*.o
space_invader_ncurses/*.h
space_invader_ncurses/*.a
